button:hover {
    background-color: #333; /* Cor de fundo escura quando hover */
    color: #fff; /* Cor do texto branca quando hover */
    /* Adicione qualquer outra propriedade de estilo desejada para o efeito hover */
}